<div class="div-body">
    <div class="text-center">
        <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
            <header class="masthead mb-auto">
            <!-- <div class="inner">
                <h3 class="masthead-brand">502 PL</h3>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link" href="#">Registra tu Parqueo</a>
                    <a class="nav-link" href="#">Encuentra Parqueos</a>
                    <a class="nav-link" href="#">Seguridad</a>
                </nav>
            </div> -->
            </header> 
            <main role="main" class="inner cover">
                <h1 class="cover-heading">502 Parking Lot</h1>
                <button class="btn btn-lg btn-primary mx-3 my-3" data-toggle="modal" data-target="#exampleModalCenter">Registrate</button>
                <button class="btn btn-lg btn-danger" data-toggle="modal" data-target="#logInModal">Inicia Sesión</button>
                <!--<p class="lead">¿Alguna vez has manejado en círculos y círculos por minutos interminables que parecen horas para poder encontrar un lugar seguro en el cual parquear tu vehículo? Si ese es el caso estás en el lugar correcto, toda nuestra intención es ayudarte a encontrar un lugar seguro para parquear tu vehículo mientras realizas tus actividades ¡Solo necesitas registrarte y tendrás acceso a toda la información y mejores tarifas!</p>
                <p class="lead">
                    <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
                </p>-->
            </main>
            <footer class="mastfoot mt-auto">
                <div class="inner">
                    <p></p>
                </div>
            </footer>
        </div>
    </div>

    <!-- Sing Up Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-dark" id="exampleModalLongTitle">¿Deseas registrarte como un usuario regular o como un dueño de parqueo?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <button type="button" class="btn btn-success mx-2">Parqueo</button>
                    <button type="button" class="btn btn-danger">Usuario Regular</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Log In Modal -->
    <div class="modal fade" id="logInModal" tabindex="-1" role="dialog" aria-labelledby="LogInModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-dark" id="logInModalTitle">¿Deseas iniciar sesión como un usuario regular o como un dueño de parqueo?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <button type="button" class="btn btn-success mx-2">Parqueo</button>
                    <button type="button" class="btn btn-danger">Usuario Regular</button>
                </div>
            </div>
        </div>
    </div>
</div>